.perfil{border-radius: 50%;}
.padding-2px{padding-top: 3cm; margin-left: 80px}
.dark-card{background-color:#707b7c ; width: 80%;  color:#efefef}
.light-card{width: 80%; background-color: #efefef; color:  #707b7c  }